@import '~bootstrap/scss/bootstrap';

main > .container-fluid {
  padding: 0px;
  width: 100vw;
}

$blue: #2cdaf5;
$green: #10c94e;
$red: #f0624f;

.baby-bowser {
  background-image: url('images/baby_bowser.jpeg');
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 200px;
}

.board {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 540px;
  width: 540px;
}

.close-controller {
  background-color: $blue;
  border: 2px solid $blue;
  color: white;
  height: 40px;
  width: 65px;
}

.container-fluid {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
}

.controller-container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}

.controller-content {
  align-items: center;
  border: 2px solid $green;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}

.controller-footer {
  align-items: center;
  border: 2px solid $green;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}

.controller-container {
  background: transparent;
  top: 60%;
  left: 80%;
  transform: translate(-50%, -50%);
}
.controller-container .modal-content {
  background: transparent;
}
.modal-backdrop.controller-backdrop-container {
  background: #ffffff;
}
.modal-backdrop.controller-backdrop-container.in {
  opacity: .9;
  filter: alpha(opacity=90);
}

.controller {
  align-items: center;
  color: $blue;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 312px;
  width: 235px;
}

.controller-input {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 30px;
  justify-content: center;
  height: 75px;
  width: 75px;
}

.controller-input-pencil {
  align-items: center;
  background-color: #ffd269;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 75px;
  width: 75px;
}

.controller-input:hover {
  border: 2px solid $red;
}

.column-1-middle-square {
  align-items: center;
  border-top: 1px solid $blue;
  border-left: 4px solid $blue;
  border-right: 1px solid $blue;
  border-bottom: 1px solid $blue;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  padding: 0;
  width: 60px;
}

.column-1-top-square {
  align-items: center;
  border-top: 2px solid $blue;
  border-left: 4px solid $blue;
  border-right: 1px solid $blue;
  border-bottom: 1px solid $blue;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  padding: 0;
  width: 60px;
}

.column-1-bottom-square {
  align-items: center;
  border-top: 1px solid $blue;
  border-left: 4px solid $blue;
  border-right: 1px solid $blue;
  border-bottom: 2px solid $blue;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  padding: 0;
  width: 60px;
}

.column-1-bottom-square {
  align-items: center;
  border-top: 1px solid $blue;
  border-left: 4px solid $blue;
  border-right: 1px solid $blue;
  border-bottom: 2px solid $blue;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  padding: 0;
  width: 60px;
}

.column-2-top-square {
  align-items: center;
  border-top: 2px solid $blue;
  border-left: 1px solid $blue;
  border-right: 1px solid $blue;
  border-bottom: 1px solid $blue;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  padding: 0;
  width: 60px;
}

.column-2-bottom-square {
  align-items: center;
  border-top: 1px solid $blue;
  border-left: 1px solid $blue;
  border-right: 1px solid $blue;
  border-bottom: 2px solid $blue;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  padding: 0;
  width: 60px;
}

.column-3-middle-square {
  align-items: center;
  border-top: 1px solid $blue;
  border-left: 1px solid $blue;
  border-right: 2px solid $blue;
  border-bottom: 1px solid $blue;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  padding: 0;
  width: 60px;
}

.column-3-top-square {
  align-items: center;
  border-top: 2px solid $blue;
  border-left: 1px solid $blue;
  border-right: 2px solid $blue;
  border-bottom: 1px solid $blue;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  padding: 0;
  width: 60px;
}

.column-3-bottom-square {
  align-items: center;
  border-top: 1px solid $blue;
  border-left: 1px solid $blue;
  border-right: 2px solid $blue;
  border-bottom: 2px solid $blue;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  padding: 0;
  width: 60px;
}

.column-4-middle-square {
  align-items: center;
  border-top: 1px solid $blue;
  border-left: 2px solid $blue;
  border-right: 1px solid $blue;
  border-bottom: 1px solid $blue;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  padding: 0;
  width: 60px;
}

.column-4-top-square {
  align-items: center;
  border-top: 2px solid $blue;
  border-left: 2px solid $blue;
  border-right: 1px solid $blue;
  border-bottom: 1px solid $blue;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  padding: 0;
  width: 60px;
}

.column-4-bottom-square {
  align-items: center;
  border-top: 1px solid $blue;
  border-left: 2px solid $blue;
  border-right: 1px solid $blue;
  border-bottom: 2px solid $blue;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  padding: 0;
  width: 60px;
}

.column-5-top-square {
  align-items: center;
  border-top: 2px solid $blue;
  border-left: 1px solid $blue;
  border-right: 1px solid $blue;
  border-bottom: 1px solid $blue;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  padding: 0;
  width: 60px;
}

.column-5-bottom-square {
  align-items: center;
  border-top: 1px solid $blue;
  border-left: 1px solid $blue;
  border-right: 1px solid $blue;
  border-bottom: 2px solid $blue;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  padding: 0;
  width: 60px;
}

.column-6-middle-square {
  align-items: center;
  border-top: 1px solid $blue;
  border-left: 1px solid $blue;
  border-right: 2px solid $blue;
  border-bottom: 1px solid $blue;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  padding: 0;
  width: 60px;
}

.column-6-top-square {
  align-items: center;
  border-top: 2px solid $blue;
  border-left: 1px solid $blue;
  border-right: 2px solid $blue;
  border-bottom: 1px solid $blue;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  padding: 0;
  width: 60px;
}

.column-6-bottom-square {
  align-items: center;
  border-top: 1px solid $blue;
  border-left: 1px solid $blue;
  border-right: 2px solid $blue;
  border-bottom: 2px solid $blue;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  padding: 0;
  width: 60px;
}

.column-7-middle-square {
  align-items: center;
  border-top: 1px solid $blue;
  border-left: 2px solid $blue;
  border-right: 1px solid $blue;
  border-bottom: 1px solid $blue;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  padding: 0;
  width: 60px;
}

.column-7-top-square {
  align-items: center;
  border-top: 2px solid $blue;
  border-left: 2px solid $blue;
  border-right: 1px solid $blue;
  border-bottom: 1px solid $blue;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  padding: 0;
  width: 60px;
}

.column-7-bottom-square {
  align-items: center;
  border-top: 1px solid $blue;
  border-left: 2px solid $blue;
  border-right: 1px solid $blue;
  border-bottom: 2px solid $blue;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  padding: 0;
  width: 60px;
}

.column-8-top-square {
  align-items: center;
  border-top: 2px solid $blue;
  border-left: 1px solid $blue;
  border-right: 1px solid $blue;
  border-bottom: 1px solid $blue;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  padding: 0;
  width: 60px;
}

.column-8-bottom-square {
  align-items: center;
  border-top: 1px solid $blue;
  border-left: 1px solid $blue;
  border-right: 1px solid $blue;
  border-bottom: 2px solid $blue;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  padding: 0;
  width: 60px;
}

.column-9-middle-square {
  align-items: center;
  border-top: 1px solid $blue;
  border-left: 1px solid $blue;
  border-right: 4px solid $blue;
  border-bottom: 1px solid $blue;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  padding: 0;
  width: 60px;
}

.column-9-top-square {
  align-items: center;
  border-top: 2px solid $blue;
  border-left: 1px solid $blue;
  border-right: 4px solid $blue;
  border-bottom: 1px solid $blue;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  padding: 0;
  width: 60px;
}

.column-9-bottom-square {
  align-items: center;
  border-top: 1px solid $blue;
  border-left: 1px solid $blue;
  border-right: 4px solid $blue;
  border-bottom: 2px solid $blue;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  padding: 0;
  width: 60px;
}

.corner-1 {
  align-items: center;
  border-top: 4px solid $blue;
  border-left: 4px solid $blue;
  border-right: 1px solid $blue;
  border-bottom: 1px solid $blue;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  padding: 0;
  width: 60px;
}

.corner-2 {
  align-items: center;
  border-top: 4px solid $blue;
  border-left: 1px solid $blue;
  border-right: 4px solid $blue;
  border-bottom: 1px solid $blue;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  padding: 0;
  width: 60px;
}

.corner-3 {
  align-items: center;
  border-top: 1px solid $blue;
  border-left: 4px solid $blue;
  border-right: 1px solid $blue;
  border-bottom: 4px solid $blue;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  padding: 0;
  width: 60px;
}

.corner-4 {
  align-items: center;
  border-top: 1px solid $blue;
  border-left: 1px solid $blue;
  border-right: 4px solid $blue;
  border-bottom: 4px solid $blue;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  padding: 0;
  width: 60px;
}

.eraser {
  background-image: url('images/pencil_eraser.png');
  background-position: center;
  background-size: cover;
}

.fixed-square-input {
  color: black;
  font-size: 30px;
}

.game-completed {
  align-items: center;
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.game-container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 50px;
  padding: 0px;
  width: 100%;
}

.home-buttons {
  margin: 2px;
}

.home-options {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.home-options-container {
  background-image: url('images/yoshi_wallpaper.png');
  background-size: cover;
  background-position: top;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  height: 700px;
  margin: 40px;
  padding: 0px;
  width: 100%
}

.home-options-screen {
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 50px;
  height: 600px;
}

.how-to-play {
  align-content: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.jumbotron {
  background-color: rgba(44, 218, 245, 0.5);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 20px;
  padding: 0px;
}

.loading-animation {
  align-content: center;
  background-image: url('images/yoshis_island.gif');
  background-position: center;
  background-size: cover;
  border: 2px solid $red;
  display: flex;
  flex-flow: row wrap;
  height: 300px;
  justify-content: center;
  margin: 30px;
  width: 300px;
}

.nav {
  background-color: #41b04c;
}

.navbar-text {
  color: white;
}

.pencil {
  background-image: url('images/pencil_icon.png');
  background-position: center;
  background-size: cover;
}

.pencil-cells {
  align-items: center;
  border-style: hidden;
  color: $red;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: center;
  margin: auto;
  text-align: center;
  width: 17px;
}

.row-1-left-square {
  align-items: center;
  border-top: 4px solid $blue;
  border-left: 2px solid $blue;
  border-right: 1px solid $blue;
  border-bottom: 1px solid $blue;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  padding: 0;
  width: 60px;
}
.row-1-middle-square {
  align-items: center;
  border-top: 4px solid $blue;
  border-left: 1px solid $blue;
  border-right: 1px solid $blue;
  border-bottom: 1px solid $blue;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  padding: 0;
  width: 60px;
}

.row-1-right-square {
  align-items: center;
  border-top: 4px solid $blue;
  border-left: 1px solid $blue;
  border-right: 2px solid $blue;
  border-bottom: 1px solid $blue;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  padding: 0;
  width: 60px;
}

.row-2-left-square {
  align-items: center;
  border-top: 1px solid $blue;
  border-left: 2px solid $blue;
  border-right: 1px solid $blue;
  border-bottom: 1px solid $blue;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  padding: 0;
  width: 60px;
}

.row-2-right-square {
  align-items: center;
  border-top: 1px solid $blue;
  border-left: 1px solid $blue;
  border-right: 2px solid $blue;
  border-bottom: 1px solid $blue;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  padding: 0;
  width: 60px;
}

.row-9-middle-square {
  align-items: center;
  border-top: 1px solid $blue;
  border-left: 1px solid $blue;
  border-right: 1px solid $blue;
  border-bottom: 4px solid $blue;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  padding: 0;
  width: 60px;
}

.row-9-left-square {
  align-items: center;
  border-top: 1px solid $blue;
  border-left: 2px solid $blue;
  border-right: 1px solid $blue;
  border-bottom: 4px solid $blue;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  padding: 0;
  width: 60px;
}
.row-9-right-square {
  align-items: center;
  border-top: 1px solid $blue;
  border-left: 1px solid $blue;
  border-right: 2px solid $blue;
  border-bottom: 4px solid $blue;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  padding: 0;
  width: 60px;
}

.show {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.square-container {
  align-items: center;
  border: 1px solid $blue;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  padding: 0;
  width: 60px;
}

.square-input {
  color: $green;
  font-size: 30px;
}

.winner-modal {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.yoshi {
  background-image: url('images/yoshi_and_babyMario.png');
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 200px;
}

.yoshi-groundpound {
  background-image: url('images/yoshi_victory.gif');
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 300px;
}

.hide-input {
  display: none;
}

.hide-notes {
  display: none;
}
