@import '~bootstrap/scss/bootstrap';

main > .container-fluid {
  padding: 0px;
  width: 100vw;
}



.board {
  align-items: center;
  border: 2px solid #ff1f26;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 573px;
  margin: 50px;
  width: 573px;
}

.container-fluid {
  align-items: center;
  border: 2px solid #1e05ff;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.controller {
  align-items: center;
  border: 2px solid #6942f5;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 312px;
  margin-top: 30px;
  width: 235px;
}

.controller-input {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 75px;
  width: 75px;
}

.game-container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.pencil-cells {
  align-items: center;
  // border-style: hidden;
  border: 2px solid #10b542;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: center;
  margin: auto;
  text-align: center;
  width: 17px;
}

.square-container {
  align-items: center;
  border: 2px solid #05c5ff;
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: center;
  margin: auto;
  padding: 0;
  width: 60px;
}

.hide-input {
  display: none;
}

.hide-notes {
  display: none;
}
